body, html {
	border: 0px !important;
}

body {
	background: #ffffff;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0;
	font-size: 15px;
	color: #2c3e50;
}

.header {
	background: #18bc9c;
	color: #FFFFFF;
	font-size: 19px;
	line-height: 60px;
	padding-left: 15px;
}

.panel {
	margin: 15px;
	background-color: #ffffff;
	border: 1px solid #ecf0f1;
	border-radius: 4px;
}

.panel .panel-title {
	background-color: #ecf0f1;
	padding: 10px 15px;
	font-weight: bold;
}

.panel .title {
	font-size: 36px;
}

.panel .body {
	padding-left: 15px;
	padding-right: 15px;
}

/* Table styles fot plugins panel */

table, th, td {
	border: 1px solid #ecf0f1;
}

th {
	text-align: left;
}